@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

main {
    font-family: 'Nunito';
    padding: 0.8em;
    margin: 0em;
}

main h2 {
    margin-bottom: 0em;
}
main p {
    margin: 0em;
}

main ul {
    padding-inline-start: 2em;
    padding-top: 0.8em;
    margin: 0em;
}

.skill {
    width: 2.5em;
    padding-left: 0.8em;
    padding-top: 0.8em;
}